@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto','sans-serif';
    font-size: 14px;}
html, body {
    width:100%;
    min-height:100%;
    margin: 0;
}

header {
	height:40px;
	width:100%;
	background-color:black;
	color:white;
}

header h1 {
	font-size:30px;
	line-height:40px;
	text-transform:uppercase;
	margin:0;
	margin-left:10px;
	margin-right:10px;
	display:inline-block;
	vertical-align: top;
}

header nav {
    
    

}